//== Alert

.mask{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.36);
}

.alert {
	display: table;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
	width: 68%;
	border-radius: 4px;
}

.alert-heading{
	font-size: 1.1rem;
	padding: 1.5rem;
}

.alert-body{
	padding: 1.5rem;
	padding-top: 0;
	color: $text-muted;
}

.alert-footer{
	position: relative;
	@include display-flex();
	font-size: 1.1rem;
	cursor: $cursor-default;
	color: $brand-primary;
	line-height: 3.2rem;
	border-radius: 0 0 4px 4px;
	background: #f8f8f8;

	&:before{
		content: " ";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		border-top: 1px solid #ccc;
		transform: scaleY(0.3);
	}

	> *{
		position: relative;
		&:not(:first-child):before{
			content: " ";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			transform: scaleX(0.3);
			border-left: 1px solid #ccc;
		}
		@include flex();
	}
}