//== Container
.container{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.container-body{
	position: absolute;
	left: 0;
	right: 0;
	top: $container-content-top;
	bottom: $container-content-bottom;
	overflow: scroll;
}