//== datepicker
.datepicker{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: $datepicker-bg;
    z-index: $datepicker-zindex;
    width: $datepicker-width;
    max-width: 100%;
    animation: slideInDown 0.36s;
}

.datepicker-header{
    color: $datepicker-header-color;
    height: $datepicker-header-height;
    background: $brand-primary;
    padding: 0 1rem;
}

.datepicker-caption{
    font-size: $datepicker-caption-font-size;
    cursor: $cursor-default;
}

.datepicker-prev,
.datepicker-next{
    cursor: $cursor-default;
}

.datepicker-body{
    padding: $datepicker-body-padding;
}

.datepicker-yeargroup,
.datepicker-monthgroup{
    height: $datepicker-yeargroup-height;
    overflow-y: scroll;
}

.datepicker-yeargroup{
    padding-right: $datepicker-yeargroup-padding;
}
.datepicker-monthgroup{
    padding-left: $datepicker-yeargroup-padding;
    border-left: 1px solid $border-color;
}

.datepicker-yeargroup-item,
.datepicker-monthgroup-item{
    padding: $datepicker-yeargroup-item-padding;
    font-size: $datepicker-yeargroup-item-font;
    cursor: $cursor-default;

    &.active{
        color: $brand-primary;
        font-weight: bold;
        background: $gray-lighter;
    }
}

.datepicker-weekgroup{
    padding: 0;
    list-style: none;
}

.datepicker-weekgroup-item{
    font-size: $datepicker-weekgroup-item-font;
    font-weight: bold;
    width: percentage(1/ 7);
    display: inline-block;
    text-align: center;
}

.datepicker-daygroup-item{
    font-size: $datepicker-daygroup-item-font;
    width: percentage(1/ 7);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin: $datepicker-daygroup-item-margin;
    border: 1px solid transparent;

    &,
    &.label{
        padding: $datepicker-daygroup-item-addon-padding;
    }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}