//== Drawer
.drawer{
    @include display-flex();
    padding: $drawer-padding;
  	background: #fff;
  	position: relative;
  	border-bottom: 1px solid $border-color;
}

.drawer-item{
	position: $cursor-default;
	@include flex();
	text-align: center;

	&:not(:last-child){
		border-right: 1px solid $border-color;
	}

	&:after{
		content: "";
    	display: inline-block;
	    width: 0;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 4px dashed;
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
		transition: transform .2s,-webkit-transform .2s;
	}

	&.active{
		color: $brand-primary;
		&:after{
			transform: rotate(180deg);
		}
	}
}