.droploading{
	position: absolute;
	left: 0;
	right: 0;
	top: -205px;
	text-align: center;
	color: $text-muted;
}

.droploading-header{
	padding: 5rem 0 2rem 0;
}

.droploading-footer{
	padding: 0.5rem;
}