//== flex布局

.flex{
	width: 100%;
	@include display-flex();
}

.flex-item{
	@include flex();
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-justify-between{
	justify-content: space-between;
}

.flex-justify-center{
	justify-content: center;
}