//== flex布局

.flexbox{
	width: 100%;
    display: flex;

}

.flex-item{
	@include flex();
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-justify-between{
	justify-content: space-between;
}

.flex-justify-center{
	justify-content: center;
}

.flex-align-center{
 	align-items: center;
}


.flex-1{
	@include flex();
}

.flex-2{
	@include flex(2);
}

.flex-3{
	@include flex(3);
}

