//== Form
.input-item{
	position: relative;
	padding: $input-item-padding;
    @include display-flex();
	background: $input-item-bg;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	> input{
		flex: 1;
	}

	+ .input-item{
		border-top: 0;
	}
}

.input {
	width: 100%;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	background: transparent;
}

//== Textarea
.textarea{
	background: $textarea-item-bg;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

    > textarea{
    	border: 0;
    	resize: none;
    	color: inherit;
    	outline: 0;
		display: block;
    	width: 100%;
		padding: $textarea-padding;
    }
}

.textarea-counter{
	font-size: $textarea-counter-font-size;
	text-align: right;
	color: $textarea-counter-color;
	padding: $textarea-counter-padding;
}

//== Switch
.switch{
	width: $switch-width;
	white-space: nowrap;
	position: relative;

	> input{
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
	}
}

.switch-addon{
	display: inline-block;
	width: 100%;
	background: $switch-toggle-bg;
	padding: $switch-toggle-padding;
	border-radius: $switch-width;
	text-align: left;
	transition: all .3s;

	&:after{
		content: " ";
		display: inline-block;
		width: $switch-toggle-addon-width;
		height: $switch-toggle-addon-height;
		background:$switch-toggle-addon-bg;
		border-radius: 100%;
		transition: transform .3s,-webkit-transform .3s;
	}

	input:checked + & {
		border-color: $switch-toggle-active-bg;
		background: $switch-toggle-active-bg;
		&:after{
			transform: translateX($switch-toggle-addon-translateX);
		}
	}

	input:disabled + &{
		cursor: $cursor-disabled;
		opacity: .6;
	}
}


//== Checkbox
.checkbox{
	position: relative;
	> input{
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
	}
}
.checkbox-addon{
	cursor: $cursor-default;
  	display: inline-block;
  	width: 1.5rem;
  	height: 1.5rem;
  	background: transparent;
  	border: 2px solid #ccc;
  	border-radius: 2px;
	transition: all .3s;

	&:before {
	  	content: " ";
		display: inline-block;
		width: 65%;
		height: 30%;
		color: #fff;
	}


  	input:checked + & {
  		background: $brand-primary;
  		border-color: $brand-primary;

  		&:before{
			border-top: 2px solid #fff;
			border-right:2px solid #fff;
			transform: rotate(135deg);
			position: relative;
			left: 0.2rem;
			top: 0.3rem;
  		}
  	}
}
