//== Form
.input-item{
	position: relative;
	padding: $input-item-padding;
    @include display-flex();
	background: $input-item-bg;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	> input{
		flex: 1;
	}

	+ .input-item{
		border-top: 0;
	}
}

.input {
	width: 100%;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	background: transparent;
}

//== Textarea
.textarea{
	background: $textarea-item-bg;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

    > textarea{
    	border: 0;
    	resize: none;
    	color: inherit;
    	outline: 0;
		display: block;
    	width: 100%;
		padding: $textarea-padding;
    }
}

.textarea-counter{
	font-size: $textarea-counter-font-size;
	text-align: right;
	color: $textarea-counter-color;
	padding: $textarea-counter-padding;
}

//== Switch
.switch{
	width: $switch-width;
	white-space: nowrap;
	position: relative;

	> input{
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
	}
}

.switch-addon{
	display: inline-block;
	width: 100%;
	background: $switch-toggle-bg;
	padding: $switch-toggle-padding;
	border-radius: $switch-width;
	text-align: left;
	transition: all .3s;

	&:after{
		content: " ";
		display: inline-block;
		width: $switch-toggle-addon-width;
		height: $switch-toggle-addon-height;
		background:$switch-toggle-addon-bg;
		border-radius: 100%;
		transition: transform .3s,-webkit-transform .3s;
	}

	input:checked + & {
		border-color: $switch-toggle-active-bg;
		background: $switch-toggle-active-bg;
		&:after{
			transform: translateX($switch-toggle-addon-translateX);
		}
	}

	input:disabled + &{
		cursor: $cursor-disabled;
		opacity: .6;
	}
}


//== Checkbox
.checkbox, .radio{
  	display: inline-block;
	position: relative;

	+ .checkbox,
	+ .radio{
		margin-left: 5px;
	}

	> input{
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
	}
}

.checkbox{
	height: $checkbox-height;
	line-height: $checkbox-height;
}

.radio{
	height: $radio-height;
	line-height: $radio-height;
}

.checkbox-addon{
	float: left;
  	display: inline-block;
	cursor: $cursor-default;
  	width: $checkbox-width;
	height: 100%;
  	background: transparent;
  	border: 1px solid $border-color;
  	border-radius: $border-radius-default;
	transition: all .3s;
	position: relative;

	&:before {
	  	content: "";
		display: inline-block;
		width: 60%;
		height: 30%;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0.4rem;
		margin: auto;
	}


  	input:checked + & {
  		background: $brand-primary;
  		border-color: $brand-primary;

  		&:before{
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			transform: rotate(130deg);
  		}
  	}

  	input:disabled + &{
		cursor: $cursor-disabled;
		opacity: .6;
	}
}

.checkbox-label, .radio-label{
	padding-left: 0.3rem;
	float: left;
}

.checkbox-addon-outline{
	input:checked + & {
		background: transparent;

		&:before{
			border-color: $brand-primary;
  		}
	}
}


//== Checkbox
.radio-addon{
	float: left;
  	display: inline-block;
	cursor: $cursor-default;
  	width: $radio-width;
	height: 100%;
  	background: transparent;
  	border: 2px solid $border-color;
  	border-radius: 50%;
	position: relative;
	transition: all .2s;

	&:before {
	  	content: "";
		display: inline-block;
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: $brand-primary;
		border-radius: 50%;

	}


  	input:checked + & {
  		border-color: $brand-primary;

  		&:before{
			width: 6px;
			height: 6px;
  		}
  	}

  	input:disabled + &{
		cursor: $cursor-disabled;
		opacity: .6;
	}
}
