//== Group
.group{
	margin-top: $margin-base-vertical;

	.group-title + &{
		margin-top: 0;
	}

	&:last-child{
		margin-bottom: $margin-base-vertical;
	}
}

.group-title{
	padding: $group-title-padding;
	color: $text-muted;
    transform: scale(0.8);
    transform-origin: 0 50% 0;
}

//== .group-item
.group-item{
	position: relative;
	background: $gray-end;
	padding: $group-item-padding;
    @include display-flex();

    @include border-top-variant();

	&:last-child{
    	@include border-bottom-variant();
	}

	&, &:hover, &:focus{
		color: inherit;
		text-decoration: none;
	}
	& + .group-item{
		margin-top: 0;
	}
	.group-title + &{
		margin-top: 0;
	}
}

.group-item-heading{
	padding-right: $group-item-heading-padding;
}

.group-item-arrow{
	color: $group-item-footer-color;
	padding-left: $group-item-heading-padding;
	&:after{
		display: inline-block;
		content: " ";
		height: 6px;
    	width: 6px;
		transform: rotate(45deg);
		border-width: 1px 1px 0 0;
    	border-color: #C8C8CD;
    	border-style: solid;
	}
}


.group-item-body{
    @include flex();
}

.group-item-footer{
	color: $group-item-footer-color;
}