//== Label
.label {
    display: inline-block;
    padding: $label-padding;
    font-size: $label-font-size;
    line-height: 1;
    color: $label-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid transparent;
    border-radius: $label-border-radius;

    &:empty {
        display: none;
    }
}


.label-default {
    background: $text-muted;
}

.label-secondary{
    background: $brand-secondary;
}

.label-primary {
    background: $brand-primary;
}

.label-success {
    background: $brand-success;
}

.label-warning {
  background: $brand-warning;
}

.label-danger {
    background: $brand-danger;
}


.label-default-outline{
    @include label-outline-variant($text-muted);
}

.label-secondary-outline{
    @include label-outline-variant($brand-secondary);
}

.label-primary-outline{
    @include label-outline-variant($brand-primary);
}

.label-success-outline{
    @include label-outline-variant($brand-success);
}

.label-warning-outline{
    @include label-outline-variant($brand-warning);
}

.label-danger-outline{
    @include label-outline-variant($brand-danger);
}