//== Loading


.loading{
	position: relative;
	width: 100%;
	height: 40%;
	opacity: 0.6;
}

.loading-leaf{
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin: auto;
	width: 2.8rem;
	height: 0.3rem;

	&:nth-child(1){
	 	-webkit-animation: rotate 1s linear infinite;
		transform: rotate(0deg);
	}
	&:nth-child(2){
	 -webkit-animation: rotate2 1s linear infinite;
		transform: rotate(30deg);
	}
	&:nth-child(3){
	 -webkit-animation: rotate3 1s linear infinite;

		transform: rotate(60deg);
	}
	&:nth-child(4){
	 -webkit-animation: rotate4 1s linear infinite;

		transform: rotate(90deg);
	}
	&:nth-child(5){
	 -webkit-animation: rotate5 1s linear infinite;

		transform: rotate(120deg);
	}
	&:nth-child(6){
	 -webkit-animation: rotate6 1s linear infinite;

		transform: rotate(150deg);
	}
	&:before, &:after{
		content: "";
		width: 12px;
		height: 100%;
		background: #fff;
		transform: scale(0.6);
	}

	&:before{
		float: left;
	}

	&:after{
		float: right;

	}
}


@-webkit-keyframes rotate{
  0%{transform: rotate(0deg) }
  100%{transform: rotate(360deg)};
}

@-webkit-keyframes rotate2{
  0%{transform: rotate(30deg) }
  100%{transform: rotate(390deg)};
}

@-webkit-keyframes rotate3{
  0%{transform: rotate(60deg) }
  100%{transform: rotate(420deg)};
}

@-webkit-keyframes rotate4{
  0%{transform: rotate(90deg) }
  100%{transform: rotate(450deg)};
}

@-webkit-keyframes rotate5{
  0%{transform: rotate(120deg) }
  100%{transform: rotate(480deg)};
}

@-webkit-keyframes rotate6{
  0%{transform: rotate(150deg) }
  100%{transform: rotate(510deg)};
}

