//== Nav
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: $navbar-zindex;
    width: 100%;
    color: #fff;
    font-size: $navbar-font-size;
    background: $brand-primary;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: $navbar-padding;
    @include display-flex();

	> .pull-left{
    	@include flex();
	}

    > .pull-right{
    	text-align: right;
    	@include flex();
        > *{
            margin-left: 1rem;
        }
    }

    .split {
    	border-color: darken($brand-primary, 6%);
    }
}

.navbar-default{
	color: $text-muted;
	background: #fff;
	border-bottom: 1px solid $border-color;

	.split {
    	border-color: $border-color;
    }
}

