//== radio-list
.selector{
	position: relative;
    @include border-bottom-variant();
}

.selector-item{
	cursor: $cursor-default;
	position: relative;
	background: $gray-end;
	padding: $selector-item-padding;
	@include border-top-variant();

	&, &:hover, &:focus{
		color: inherit;
		text-decoration: none;
	}
}

.selector-item-body{
	float: left;
}

.selector-item-addon{
	.active > &{
		float: right;
		width: 1.2rem;
		height: 0.7rem;
		border-top: 2px solid green;
		border-right: 2px solid green;
		border-radius: 2px;
		transform: rotate(130deg);
	}
}