.arrow{
    display: block;
    padding-left: $group-item-header-padding;
    transform: rotate(45deg);
    &:after{
        display: inline-block;
        content: " ";
        height: 0.5rem;
        width: 0.5rem;
        border-width: 1px 1px 0 0;
        border-style: solid;
    }
}

.arrow-lg{
    &:after{
        height: 1rem;
        width: 1rem;

    }
}

.arrow-right{
    &:after{
        border-width: 2px 2px 0 0 ;
    }
}

.arrow-left{
    &:after{
        border-width: 0 0 2px 2px;
    }
}