.arrow{
    display: block;
    padding-left: $group-item-heading-padding;
    &:after{
        display: inline-block;
        content: " ";
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
        border-style: solid;
    }
}

.arrow-lg{
    &:after{
        height: 12px;
        width: 12px;
        border-width: 2px 2px 0 0;
    }
}

.arrow-right{
    transform: rotate(45deg);
}

.arrow-left{
    transform: rotate(-135deg);
}