//== Slideup
.slideup{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: $slideup-bg;
  z-index: $slideup-zindex;
  -webkit-animation: slideInUp 0.36s;
}

.slideup-heading{
	position: relative;
	font-weight: bold;
	@include border-bottom-variant();
}


@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}