//== Slideup
.slideup{
  max-height: 50%;
  overflow-y: scroll;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: $slideup-bg;
  z-index: $slideup-zindex;
  animation: slideInUp 0.36s;
}

.slideup-heading{
	position: relative;
	font-weight: bold;
	@include border-bottom-variant();
}


@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}