//== Tab
.tab{
    @include display-flex();
    padding: $tab-padding;
  	background: #fff;
  	position: relative;
}

.tab-item{
	@include flex();
	text-align: center;
	position: $cursor-default;
	transition: all .2s;


	&.active{
		color: $brand-primary;
	}
}

.tab-bar{
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: $tab-bar-height solid $brand-primary;
	transition: all .3s;
}

//== Tab bottom
.tab-bottom{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: $tab-bottom-zindex;
	width: 100%;
	color: $text-muted;
	height: $tab-bottom-height;
	@include border-top-variant();

	.btn {
		height: 100%;
		padding: 0;
	}
}

.tab-cascade{
	padding: 0;
	> * {
		> *{
			display: block !important;
			&:first-child{
				padding-bottom: 0.3rem;
			}
		}
	}
}

//== split
.tab-split{
	:not(:first-child){
		position: relative;
		@include border-left-variant();
	}
}
