.thumbnail{
	position: relative;
	display: block;
	background: $thumbnail-bg;
    @include border-bottom-variant();

	> img{
		width: 100%;
    	display: block;
	}
}

.caption{
	display: block;
	padding: $caption-padding;
}