//== Toast
.toast{
    display: table;
    height: $toast-width;
    width: $toast-height;
    color: #fff;
    background: $toast-bg;
    border-radius: $toast-border-radius;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    text-align: center;
    z-index: $toast-zindex;
}

.toast-addon{
    display: block !important;
    margin-bottom: $toast-addon-margin-bottom;
}

.toast-body{
	margin-top: 20%;
}
