//== Toast
.toast{
    height: 100px;
    width: 100px;
    color: #fff;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 8px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    @include display-flex();
    font-size: 1.1rem;
    z-index: $toast-zindex;
}

.toast-addon{
    display: block !important;
    margin-bottom: 1rem;
}

.toast-body{
	@include flex();
}
