

//== Text colors
.text-primary{
	color: $brand-primary;
}

.text-secondary{
	color: $brand-secondary;
}

.text-danger{
	color: $brand-danger;
}

.text-success{
	color: $brand-success;
}

.text-warning{
	color: $brand-warning;
}

.text-default{
	color: $body-color;
}

.text-muted{
	color: $gray-light;
}

//== Background colors
.bg-primary{
	color: #fff;
	background: $brand-primary;
}

.bg-secondary{
	color: #fff;
	background: $brand-secondary;
}

//== Text align
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

//== Text decoration
.text-delete{
	text-decoration: line-through;
}

//== float
.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

//== Margin
.no-margin{
	margin: 0 !important;
}

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

//== Padding
.no-padding{
	padding: 0 !important;
}

//== Shape
.shape-circle{
	border-radius: 50%;
}

//== split
.split{
	height: 1rem;
	margin: $split-margin;
	display: inline-block;
	border-right: 1px solid $border-color;
}

//== hidden
.hidden{
	display: none;
}

.clearfix{
 	 &:after {
    	content: "";
    	display: table;
    	clear: both;
  	}
}

//== Border radius
.no-radius{
	border-radius: 0 !important;
}


//== Fa
.fa-left{
	margin-right: 0.5rem;
}

.fa-right{
	margin-left: 0.5rem;
}

//==Font size
.text-lg{
	font-size: 1.3rem;
}

.font-h1{ font-size: $font-size-h1 !important; }
.font-h2{ font-size: $font-size-h2 !important; }
.font-h3{ font-size: $font-size-h3 !important; }
.font-h4{ font-size: $font-size-h4 !important; }
.font-h5{ font-size: $font-size-h5 !important; }
.font-h6{ font-size: $font-size-h6 !important; }


//== Border
.border-left{
	border-left: 1px solid $border-color;
}

.border-right{
	border-right: 1px solid $border-color;
}

.border-top{
	border-top: 1px solid $border-color;
}

.border-bottom{
	border-bottom: 1px solid $border-color;
}

