

//== Text colors
.text-primary{
	color: $brand-primary;
}

.text-secondary{
	color: $brand-secondary;
}

.text-danger{
	color: $brand-danger;
}

.text-success{
	color: $brand-success;
}

.text-warning{
	color: $brand-warning;
}

.text-default{
	color: $body-color;
}

.text-muted{
	color: $gray-light;
}

//== Background colors
.bg-primary{
	color: #fff;
	background: $brand-primary;
}

.bg-secondary{
	color: #fff;
	background: $brand-secondary;
}

//== Text align
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

//== Text decoration
.text-delete{
	text-decoration: line-through;
}

//== float
.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

//== Margin
.no-margin{
	margin: 0 !important;
}

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

//== Padding
.no-padding{
	padding: 0 !important;
}

//== Shape
.shape-circle{
	border-radius: 50%;
}

//== split
.split{
	height: 1rem;
	margin: $split-margin;
	display: inline-block;
	border-right: 1px solid $border-color;
}

//== hidden
.hidden{
	display: none;
}

.clearfix{
 	 &:after {
    	content: "";
    	display: table;
    	clear: both;
  	}
}

//== Border radius
.no-radius{
	border-radius: 0 !important;
}

//== Flex
.flex-1{
	@include flex();
}

.flex-2{
	@include flex(2);
}

.flex-3{
	@include flex(2);
}


//== Fa
.fa-left{
	margin-right: 0.5rem;
}

.fa-right{
	margin-left: 0.5rem;
}