
//== Colors
$gray-dark:                 #333 !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f3f3f3 !default;
$gray-end:                  #fff !default;

$brand-primary:             #2196F3 !default;
$brand-success:             #009688 !default;
$brand-info:                #00BCD4 !default;
$brand-warning:             #FFC107 !default;
$brand-danger:              #F44336 !default;
$brand-plq:                 #f86c2e !default;


$text-muted:                 $gray-light !default;
$border-color:               #d9d9d9;

//== Typography
$font-size-root:             12px !default;
$font-size-base:             1rem !default;

$font-family-base:           "Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Arial,Verdana,Tahoma,sans-serif !default;

$line-height:                1.2 !default;

//==base
$margin-base-vertical:       1rem;
$padding-base-vertical:      0.7rem;
$padding-base-horizontal:    0.7rem;

//== z-index
$navbar-zindex:             1100;
$tab-bottom-zindex:         1100;

//== Body
$body-bg:                    $gray-lightest !default;
$body-color:                 $gray-dark !default;

//== Cursor
$cursor-default:                pointer !default;
$cursor-disabled:                not-allowed !default;

//== Links
$link-color:                 $brand-primary !default;
$link-hover-color:           darken($link-color, 15%) !default;

//== Border radius
$border-radius-default:      2px;

$split-margin:               0 $padding-base-horizontal;

//== Navbar
$navbar-height:                 40px;
$navbar-padding:				0 $padding-base-horizontal;

//== Container
$container-content-top:         $navbar-height;

//== Group
$group-title-padding:           $padding-base-vertical $padding-base-horizontal;
$group-item-padding:            $padding-base-vertical $padding-base-horizontal;
$group-item-heading-padding:    0.6rem;
$group-item-footer-color:       $gray-light;

//== Button
$btn-padding:                    0.7rem 1.2rem;
$btn-border-radius:              2px;
$btn-block-padding:              1rem;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-plq !default;
$btn-secondary-border:           $brand-plq !default;

$btn-default-color:              $gray-dark !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

//== Form
$input-item-bg:                 #fff !default;
$input-item-padding:            $padding-base-vertical $padding-base-horizontal !default;

$textarea-item-bg:              #fff !default;
$textarea-padding:              0.6rem !default;
$textarea-counter-color:        $gray-light !default;
$textarea-counter-padding:      0.3rem !default;
$textarea-counter-font-size:    0.8rem !default;

$switch-width:                  3rem !default;
$switch-toggle-bg:              #ccc !default;
$switch-toggle-active-bg:       $brand-success;
$switch-toggle-padding:         2px !default;

$switch-toggle-addon-bg:        #fdfdfd;
$switch-toggle-addon-width:     1rem;
$switch-toggle-addon-height:    $switch-toggle-addon-width;
$switch-toggle-addon-translateX: $switch-width - $switch-toggle-addon-width - 0.4rem;

$checkbox-height:               round(1.4 * $font-size-root);
$checkbox-width:                round(1.4 * $font-size-root);

$radio-height:                	round(1.5 * $font-size-root);
$radio-width:                 	round(1.5 * $font-size-root);

//== Tab
$tab-padding:            		$padding-base-vertical $padding-base-horizontal;
$tab-bar-height:        		2px;

$tab-bottom-height:             $navbar-height;
//== Drawer
$drawer-padding:            	$padding-base-vertical $padding-base-horizontal;


// Tables
//
$table-cell-padding:            0.75rem !default;
$table-sm-cell-padding:         0.3rem !default;

