@mixin button-variant($color, $background, $border) {
  	$active-background: darken($background, 12%);
	$active-border: darken($border, 12%);

	&, &:hover, &:active{
		color: $color;
	}

	background-color: $background;
	border-color: $border;

	&:active,
	&.active {
	    color: $color;
	    background-color: $active-background;
	        border-color: $active-border;
	    background-image: none;
	}

	&.disabled,
	&:disabled {
	    &:focus,
	    &.focus {
	      background-color: $background;
	          border-color: $border;
	    }
	    &:hover {
	      background-color: $background;
	          border-color: $border;
	    }
	}
}